body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.navbar-inverse {
    background: #49528d;
    background-image: none;
    border: none;
    color: white;
}

.navbar-brand {
    font-weight: 500;
    letter-spacing: 0.5px;
}
.navbar-inverse .navbar-nav>li>a {
    color: inherit;
}
.navbar-inverse .navbar-brand {
    color: inherit;
    text-shadow: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: none;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background: rgba(0, 0, 0, 0.1);
}

.jumbotron p {
    font-weight: 300;
    letter-spacing: 0;
    font-size: 16px;
}
