{% extends "base.html" %} {% block title %}Little Printer{% endblock %} {% block
page_content %}
<div class="jumbotron">
  <h1>Little Printer</h1>
  <p>Lets get your Little Printer printing again!</p>
  <p>
    Send messages to your printer, using our
    <a
      href="https://itunes.apple.com/us/app/little-printers/id1393105914?ls=1&mt=8"
      >Little Printers</a
    >
    app, or via the Print Key API.
  </p>
  <p>
    <a role="button" class="btn btn-primary" href="/login/twitter"
      >Sign in with Twitter</a
    >
  </p>
</div>
{% endblock %}
