{% extends "base.html" %}

{% block title %}{{ printer.name }} | Little Printer{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-md-8">

		<h1>
			{{ printer.name }}
			<small>
				Owned by
				{% if current_user.id == printer.owner.id %}
				you
				{% else %}
				@{{ printer.owner.username }}
				{% endif %}
			</small>
		</h1>

		<p>
			{% if printer.is_online %}
				<span class="label label-success">Online</span>
			{% else %}
				<span class="label label-default">Offline</span>
			{% endif %}
		</p>

		<p>
			<a class="btn btn-default" href="{{
							url_for('printer_print.printer_print',
									printer_id=printer.id) }}">Send message</a>
		</p>

		<div class="spacer" style="height: 1em"></div>

		{% if current_user.id == printer.owner.id %}
		<h2>🔑 Print Keys</h2>

		<p>
			Print Keys let you print using the <a href="#">Little Printers</a> app, or using our
			simple API.
		</p>
		
		{% if printer.print_keys.count() > 0 %}
		<table class="table print-keys-table">
			<thead>
				<tr>
					<th>Key</th>
					<th>Creation date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for print_key in printer.print_keys %}
				<tr>
					<td>
						<a href="{{ url_for('print_key_api.print_key',
						                    print_key_secret=print_key.secret) }}">
							{{ print_key.secret }}
						</a>
					</td>
					<td>{{ print_key.created.strftime('%H:%M %d/%m/%Y') }}</td>
					<td>
						<button class="btn btn-link print-key-delete">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<form id="delete_form_{{ print_key.id }}"
						      class="delete-form"
						      method="POST"
						      style="display: inline;
						             visibility: hidden"
						      action="{{ url_for('printer_overview.print_key_delete',
						                         printer_id=printer.id,
						                         print_key_id=print_key.id) }}">
							Are you sure?
							<button class="btn btn-link text-danger" 
							        style="vertical-align: baseline;"
							        type="submit">
								Delete
							</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<style>
			.table.print-keys-table>tbody>tr>td {
				vertical-align: middle;
			}
		</style>
		{% endif %}

		<form method="POST" action="{{ url_for('printer_overview.print_key_add',
		                                       printer_id=printer.id) }}">
			<button class="btn btn-default" type="submit">
				<span class="glyphicon glyphicon-plus"></span> Cut a new Print Key
			</button>
		</form>

		<div class="spacer" style="height: 1em"></div>

		<h2>Recent messages</h2>

		{% for m in messages %}
		<div class="thumbnail" style="width: 300px;">
			<img src="data:image/png;base64,{{ m.base64_pixels() }}" style="border: 1px solid #ccc; width: 100%;">
			<div class="caption">
			<p>
			{% if m.response_timestamp == None %}
			<span class="bg-info">(still sending)</span>
			{% else %}
			Sent {{ m.response_timestamp.strftime('%H:%M, %d/%m/%Y') }}
			{% endif %}
			{% if m.failure_message %}
			<br>
			Message failed: <span class="bg-danger">{{ m.failure_message }}</span>
			{% endif %}
			</p>
			</div>
		</div>
		{% endfor %}
		
		{% endif %}

	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
	$(".print-key-delete").click(function () {
		$(this).parent().find('.delete-form').css({visibility: 'visible'});
	});
</script>
{% endblock scripts %}
